/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
    min-height: 100vh; /* Asegura que el contenido ocupe toda la altura de la pantalla */
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 20px;
    background: #004aad;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-grow: 1; /* Hace que el contenido de main ocupe el espacio restante */
}

#cotizaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px; /* Añadir un margen inferior para separar las cards del footer */
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombras más suaves */
    padding: 20px;
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.card:hover {
    transform: scale(1.05); /* Efecto de zoom */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombras más grandes al pasar el ratón */
}

.card h3 {
    color: #004aad;
}
#github {
    padding: 5px;
    color: #fff;
}

footer {
    text-align: center;
    padding: 10px;
    background: #004aad;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsividad */
@media (max-width: 768px) {
    #cotizaciones {
        flex-direction: column;
        align-items: center;
    }
}
